<h1>Liste des Articles</h1>

{% for post in posts %}
    <article>
        <h2>{{ post.title }}</h2>
        <p>
			{{ post.lead }}
        </p>
        <div>
            <a href="">En savoir plus</a>
        </div>
    </article>
{% endfor %}