<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>Mon blog</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ base_url }}blog/add">Add a Post</a></li>
    </ul>
</nav>
{{ actionFile }}
</body>
</html>